<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TextUrl API Doc for {{ids}}</title>
    <link rel="shortcut icon" href="/ico.png">
    <link rel="apple-touch-icon" href="/ico.png" />
    <link rel="stylesheet/less" type="text/css" href="/sheet1.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

</head>
<body>
    <h1>TextUrl - API DOC</h1>
    <li><a href="{{prt}}://{{hostn}}/get/{{id}}" target="_blank">Go to UI Message</a></li>
    <li><a href="{{prt}}://{{hostn}}/delete/{{id}}" target="_blank">Delete an Message</a>: <code>{{prt}}://{{hostn}}/delete/{{ids}}</code></li>
    <li><a href="{{prt}}://{{hostn}}/userdef/raw/{{id}}" target="_blank">Show raw Json of an Message</a>: <code>{{prt}}://{{hostn}}/userdef/raw/{{ids}}</code></li>
    <li><a href="{{prt}}://{{hostn}}/userdef/rawml/{{id}}" target="_blank">Show raw XML of an Message</a>: <code>{{prt}}://{{hostn}}/userdef/rawml/{{ids}}</code></li>
    <p><a href="/">Main Page</a></p>
    
</body>
</html>